@charset 'utf-8';

@import 'base/variables';
@import 'base/mixins';
@import 'base/fonts';
@import 'base/reset-styles';

.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1140px;
   margin: 0 auto;
}

.page {
}

.visuallyhidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/title-block';
@import 'blocks/header';
@import 'blocks/main-screen';
@import 'blocks/advantages';
@import 'blocks/promo';
@import 'blocks/staff';
@import 'blocks/options';
@import 'blocks/schema';
@import 'blocks/reviews';
@import 'blocks/feedback';
@import 'blocks/footer';
@import 'blocks/media';
