.footer {
   padding: 24px 0 35px 0;
   background-color: #25333c;
   &__top-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      padding-bottom: 26px;
   }

   &__top-column {
      flex: 0 0 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo {
      flex: 0 0 126px;
      padding-left: 15px;
   }

   &__slogan {
      flex: 1 0 auto;
      font-size: 16px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 20px;
      text-align-last: left;
   }

   &__contacts {
      flex: 0 0 auto;
   }

   &__ask {
      font-size: 14px;
      color: rgb(255, 255, 255);
      line-height: 1.714;
      font-weight: 300;
      display: block;
      text-align: right;
   }

   &__phone {
      font-size: 19px;
      color: rgb(255, 255, 255);
      font-weight: bold;
      line-height: 24px;
      display: block;
      white-space: nowrap;
      &:hover {
         color: $main_color;
      }
   }

   &__button {
      margin-left: 18px;
   }

   &__bottom-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 30px;
   }

   &__bottom-column {
      display: flex;
   }

   &__copyright {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      line-height: 17px;
   }

   &__policy {
      font-size: 13px;
      color: $main_color;
      text-decoration: underline;
      font-weight: 300;
      line-height: 17px;
   }

   &__label {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300;
      line-height: 17px;
   }
}
